/* line 4, scss/vendors/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, scss/vendors/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 7, scss/base/_grid.scss */
* {
  padding: 0 11px;
}

/* line 11, scss/base/_grid.scss */
main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  padding: 0;
}
/* line 20, scss/vendors/bourbon/addons/_clearfix.scss */
main::after {
  clear: both;
  content: "";
  display: table;
}

/* line 18, scss/base/_grid.scss */
section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
section:last-child {
  margin-right: 0;
}

/* line 23, scss/base/_grid.scss */
#one {
  background-color: #f04460;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#one:last-child {
  margin-right: 0;
}

/* line 28, scss/base/_grid.scss */
#two {
  background-color: #ffc2a3;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#two:last-child {
  margin-right: 0;
}

/* line 33, scss/base/_grid.scss */
#three {
  background-color: #fbf47a;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#three:last-child {
  margin-right: 0;
}

/* line 38, scss/base/_grid.scss */
#four {
  background-color: #b3f2e5;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#four:last-child {
  margin-right: 0;
}

/* line 43, scss/base/_grid.scss */
#five {
  background-color: #6fa1f8;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#five:last-child {
  margin-right: 0;
}

/* line 48, scss/base/_grid.scss */
#six {
  background-color: #8afad1;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
}
/* line 89, scss/vendors/neat/grid/_span-columns.scss */
#six:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  /* line 54, scss/base/_grid.scss */
  #one,
  #two,
  #three,
  #four,
  #five,
  #six {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 89, scss/vendors/neat/grid/_span-columns.scss */
  #one:last-child,
  #two:last-child,
  #three:last-child,
  #four:last-child,
  #five:last-child,
  #six:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  /* line 65, scss/base/_grid.scss */
  #six {
    margin-left: 0%;
  }
}

/* line 4, scss/vendors/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, scss/vendors/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}
