// Layout
$padding: 11px;

// Grid
$max-width: 900px;
$columns: 12;
$one-third: 4;
$two-thirds: 8;
// $column: 90px;
// $gutter: 30px;


// Typography


// Colors
$light-grey: #ccc;
$red: #f04460;
$orange: #ffc2a3;
$yellow: #fbf47a;
$green: #b3f2e5;
$blue: #6fa1f8;
$indigo: #8afad1;

// Breakpoints
$tablet: 768px;
$mobile: 480px;
